:root{
    --text-color: #b3b3b3;
}

.text-color{color: var(--text-color);}

body{
    background-color: black;
    color: var(--text-color);;
    font-family: 'DM Sans', sans-serif;
}

aside.sidebar{
    width: 300px;
    
}
aside.sidebar .sidebar-navigation{
    background-color: #121212;
    border-radius: 8px;
    margin: 16px 0px 0px 16px;
    padding: 16px;
    
}

aside.sidebar .logo{
    width: 80px;
    margin-bottom: 16px;
}

aside.sidebar .item-sidebar{
    display: flex;
    column-gap: 8px;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 0px;
    font-size: 14px;
}

aside.sidebar .sidebar-navigation .biblioteca{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside.sidebar .sidebar-navigation .biblioteca .title-directory{
    font-weight: 700;
    display: flex;
    column-gap: 16px;
}