:root {
  --text-color: #b3b3b3;
  --white-color: #ffffff;
  --font-primary: "DM Sans", sans-serif;
}

body {
  background-color: black;
  color: var(--text-color);
  font-family: var(--font-primary);
}

.btn-destaque {
  color: #121212;
  background-color: #fff;
  font-weight: 700;
  padding: 16px 32px;
  border-radius: 32px;
}

.btn-destaque:hover {
  opacity: 0.9;
}

.text-color {
  color: var(--text-color);
}

.white-color {
  color: var(--white-color);
}

.flex {
  display: flex;
}

.mb-4 {
  margin-bottom: 8px !important;
}

.mb-6 {
  margin-bottom: 16px !important;
}

.my-6 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.p-3 {
  padding: 12px;
}

.fs-large {
  font-size: 18px;
}

.fs-small {
  font-size: 14px;
}

.fs-xsmall {
  font-size: 12px;
}

.transition {
  transition: 0.3s ease-in all;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 130%;
  font: unset;
  font-weight: 700;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p,
a,
button {
  line-height: 150%;
}

h6 {
  font-size: 14px;
}

.content-center {
  max-width: 1320px;
  margin: 0 auto;
}

.content-center > .hero {
  flex-direction: column;
  margin-left: 16px;
  flex: 1;
}

/* <RESPONSIVE STYLES> */

@media screen and (max-width: 1200px) {
  main .offer-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 992px) {
  main .offer-list {
    grid-template-columns: 1fr 1fr;
  }

  .content-center > .hero > header .navigation-header .search,
  .content-center > .hero > header .navigation-header .search .search-music {
    flex: 1;
  }

  .content-center > .hero > header .navigation-header .user-account {
    flex: 1;
  }

  .content-center > .hero > header .navigation-header .user-account > a {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  main .offer-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 464px) {
}

/* </RESPONSIVE STYLES> */
